#homeDiv {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    background-color: #312e30;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    display: flex;
    margin: 10px 0;
    width: 50%;
    border-radius: 5px;

    border: 3px solid rgba(100, 108, 255, 0);
    transition: 0.2s;
}
.user:hover {
    border: 3px solid rgba(100, 108, 255, 1);
    transition: 0.2s;
}

.user h5 {
    color: rgba(255, 255, 255, 0.562);
}
.user h3 {
    color: rgb(255, 255, 255);
}
.userData {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.deleteUser {
    object-fit: cover;

    height: 100%;
    width: 64px;
    
    box-sizing: border-box;

    fill: rgb(255, 183, 183);
    transition: 0.2s;

    cursor: pointer;
}
.deleteUser:hover {
    fill: rgb(255, 43, 43);

    transition: 0.2s;
}
